mixin layout()

  doctype html
  html

    head
      title= (title ? title : "No Title") + " | Grunt Boilerplate"
      link(rel='stylesheet', href='/assets/css/styles.css')

    body

      include ../partials/header

      if block
        block
      else
        .error No content passed

      include ../partials/footer
